Flow.txt
[{"id":"974f7922.a7e7d8","type":"tab","label":"Deeter","disabled":false,"info":""},{"id":"b4748142.f85fd","type":"rpi-gpio in","z":"974f7922.a7e7d8","name":"Push Button Triggered","pin":"16","intype":"up","debounce":"50","read":true,"x":126.03785705566406,"y":605.3334522247314,"wires":[["22acbfca.4eb71"]]},{"id":"ee62b8f2.4f1318","type":"exec","z":"974f7922.a7e7d8","command":"aplay ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play Wav","x":1381.7500038146973,"y":536.9999752044678,"wires":[[],[],[]]},{"id":"22acbfca.4eb71","type":"switch","z":"974f7922.a7e7d8","name":"Button Pressed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":252.28792572021484,"y":546.121244430542,"wires":[["6f9566b2.3bd978","9a770ded.0eb02","6738bf32.3c489"],[]],"outputLabels":["Pressed","Not Pressed"]},{"id":"79624e5d.8b404","type":"debug","z":"974f7922.a7e7d8","name":"Debug (MSG Object)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1384.249797821045,"y":608.1515731811523,"wires":[]},{"id":"6f9566b2.3bd978","type":"exec","z":"974f7922.a7e7d8","command":"pkill aplay","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Kill any existing aplay instance","x":482.81825256347656,"y":405.0000629425049,"wires":[[],[],[]]},{"id":"a58d65c7.ccf4d8","type":"inject","z":"974f7922.a7e7d8","name":"Not Pressed","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":132.0000114440918,"y":447.00005769729614,"wires":[["22acbfca.4eb71"]]},{"id":"f8a78163.c135","type":"inject","z":"974f7922.a7e7d8","name":"Pressed","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.63635635375977,"y":389.0000247955322,"wires":[["22acbfca.4eb71"]]},{"id":"bcc484e0.133cb8","type":"comment","z":"974f7922.a7e7d8","name":"Manual Testing","info":"","x":119.01363372802734,"y":342.34538078308105,"wires":[]},{"id":"ecc7b59c.1e5378","type":"inject","z":"974f7922.a7e7d8","name":"Populate File List","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":162.0136260986328,"y":862.8545725345612,"wires":[["36894a60.8a5076"]]},{"id":"36894a60.8a5076","type":"fs-file-lister","z":"974f7922.a7e7d8","name":"Find Audio Files","start":"/home/pi/Documents/Audio","pattern":"*.*","path":true,"single":true,"depth":0,"stat":false,"x":373.5136032104492,"y":862.8546369075775,"wires":[["8569eab9.578488"]]},{"id":"8569eab9.578488","type":"function","z":"974f7922.a7e7d8","name":"Convert into DropDown","func":"var DropDownList = [];\nvar FileList = msg.payload;\nFileList.forEach(function(value){\n  var key = value.substring(0,2);\n  var Name = value.split('.')[0]\n  var obj = {};\n  obj[Name] = value;\n  DropDownList.push(obj);\n});\nmsg.options = DropDownList;\nreturn msg;","outputs":1,"noerr":0,"x":611.0135631561279,"y":864.8544960021973,"wires":[["446419bc.98e708"]]},{"id":"9277d8ce.7f9848","type":"comment","z":"974f7922.a7e7d8","name":"Dashboard web code","info":"","x":158.76363372802734,"y":816.3545408248901,"wires":[]},{"id":"6eb20f32.473b8","type":"ui_button","z":"974f7922.a7e7d8","name":"","group":"938542b3.1621d","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":116.26363372802734,"y":1032.6045036315918,"wires":[["956eb079.93a9"]]},{"id":"956eb079.93a9","type":"exec","z":"974f7922.a7e7d8","command":"sudo shutdown","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280.26363372802734,"y":1032.1045036315918,"wires":[[],[],[]]},{"id":"57266c6c.957794","type":"file in","z":"974f7922.a7e7d8","name":"Convert Audio to Buffer","filename":"","format":"","chunk":false,"sendError":false,"x":1372.5316543579102,"y":665.1044569015503,"wires":[["7caee752.9cada8"]]},{"id":"7caee752.9cada8","type":"ui_audio","z":"974f7922.a7e7d8","name":"Browser Audio out","group":"5b9f4e1b.747ea","voice":"","always":"","x":1606.2818984985352,"y":666.6045408248901,"wires":[]},{"id":"9a770ded.0eb02","type":"exec","z":"974f7922.a7e7d8","command":"pkill mpg123","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Kill any existing mp3","x":463.013671875,"y":339.345458984375,"wires":[[],[],[]]},{"id":"6fbbadee.adfe94","type":"exec","z":"974f7922.a7e7d8","command":"mpg123 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play MP3","x":1355.2636375427246,"y":423.3453769683838,"wires":[[],[],[]]},{"id":"dd130f00.96553","type":"switch","z":"974f7922.a7e7d8","name":"MP3 or WAV","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".mp3","vt":"str"},{"t":"cont","v":".wav","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1188.3634414672852,"y":532.3954734802246,"wires":[["6fbbadee.adfe94"],["ee62b8f2.4f1318"]],"outputLabels":["MP3",""]},{"id":"333c5790.525ff8","type":"function","z":"974f7922.a7e7d8","name":"Grab random File from Directory","func":"var FileList = msg.payload;\nvar FileCount = FileList.length;\nmsg.payload=FileCount;\nvar random = Math.floor(Math.random() * FileCount);\nmsg.payload=FileList[random];\nreturn msg;","outputs":1,"noerr":0,"x":785.7634735107422,"y":557.0273666381836,"wires":[["dfdae761.045118"]]},{"id":"6738bf32.3c489","type":"fs-file-lister","z":"974f7922.a7e7d8","name":"Find Audio Files in Dir","start":"/home/pi/Documents/Audio","pattern":"*.*","path":true,"single":true,"depth":0,"stat":false,"x":490.0500183105469,"y":559.5272922515869,"wires":[["333c5790.525ff8"]]},{"id":"dfdae761.045118","type":"function","z":"974f7922.a7e7d8","name":"Change filepath to payload","func":"msg.filename=msg.payload;\nmsg.payload = \"'\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1044.8135452270508,"y":688.1226768493652,"wires":[["57266c6c.957794","dd130f00.96553","79624e5d.8b404"]]},{"id":"6651bde1.2ba144","type":"comment","z":"974f7922.a7e7d8","name":"IMPORTANT NOTE: CHANGE AUDIO DIRECTORY IN 2 NODES MARKED \"Find Audio Files in Dir\"","info":"","x":522.0136413574219,"y":272.80001282691956,"wires":[]},{"id":"ca361617.bb54d8","type":"comment","z":"974f7922.a7e7d8","name":"Dashboard - System Tab","info":"","x":167.51705932617188,"y":962.0909423828125,"wires":[]},{"id":"446419bc.98e708","type":"ui_dropdown","z":"974f7922.a7e7d8","name":"","label":"Audio Clip Selection","place":"Select audio file","group":"5b9f4e1b.747ea","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":888.1476974487305,"y":864.0510578155518,"wires":[["dfdae761.045118"]]},{"id":"46e478d5.444268","type":"rpi-keyboard","z":"974f7922.a7e7d8","name":"Keyboard Button Pressed","x":137.51703643798828,"y":688.9999237060547,"wires":[["e42da0b4.1662d"]]},{"id":"e42da0b4.1662d","type":"switch","z":"974f7922.a7e7d8","name":"Catch Press Down","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":368.76702880859375,"y":690.7499580383301,"wires":[["541d1d.daf632e4"]]},{"id":"b7510c26.c76d1","type":"function","z":"974f7922.a7e7d8","name":"On","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":339.2499771118164,"y":1213.5679168701172,"wires":[["d522bda8.333b4"]]},{"id":"d522bda8.333b4","type":"rpi-gpio out","z":"974f7922.a7e7d8","name":"LED","pin":"22","set":true,"level":"0","freq":"","out":"out","x":498.00021266937256,"y":1213.0680236816406,"wires":[]},{"id":"81691cc8.a896a","type":"delay","z":"974f7922.a7e7d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346.2725524902344,"y":1265.5449724197388,"wires":[["b55537f1.33c508"]]},{"id":"b55537f1.33c508","type":"function","z":"974f7922.a7e7d8","name":"OFF","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":495.10589599609375,"y":1266.0676641464233,"wires":[["d522bda8.333b4"]]},{"id":"22fe0171.80236e","type":"comment","z":"974f7922.a7e7d8","name":"Blinking Button Code","info":"","x":157.88172149658203,"y":1169.7678108215332,"wires":[]},{"id":"aaaa004a.8a89f","type":"inject","z":"974f7922.a7e7d8","name":"Blink Light","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":143.7670440673828,"y":1228.3863458633423,"wires":[["b7510c26.c76d1","81691cc8.a896a"]]},{"id":"541d1d.daf632e4","type":"function","z":"974f7922.a7e7d8","name":"Change filepath to payload","func":"var keycode=msg.payload;\nmsg.payload= {\"pattern\":\"*\" + keycode + \"*.*\"}\nreturn msg;","outputs":1,"noerr":0,"x":630.0170745849609,"y":696.8409385681152,"wires":[["6738bf32.3c489"]]},{"id":"c4f0a087.d3f8c","type":"inject","z":"974f7922.a7e7d8","name":"Test Button for Keyboard","topic":"","payload":"27","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":443.7670593261719,"y":755.5909337997437,"wires":[["541d1d.daf632e4"]]},{"id":"938542b3.1621d","type":"ui_group","z":"","name":"Group 1","tab":"73b00c41.096934","order":2,"disp":false,"width":"6","collapse":false},{"id":"5b9f4e1b.747ea","type":"ui_group","z":"","name":"Clip Selection","tab":"989c0d01.d4034","order":1,"disp":false,"width":"11","collapse":false},{"id":"73b00c41.096934","type":"ui_tab","z":"","name":"System","icon":"dashboard","order":2},{"id":"989c0d01.d4034","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]